@page "/adicionaritem"

@inject NavigationManager Navegar
@inject IAdicionarItem Adicionar

<h3>Adicionar Item</h3>
<br />

<EditForm Model="Item" FormName="formInventario" OnValidSubmit="Salvar">
    <DataAnnotationsValidator></DataAnnotationsValidator>
    <ValidationSummary></ValidationSummary>
    <div class="from-group">
        <label for="nome">Nome</label>
        <InputText id="nome" @bind-Value="Item.Nome" class="form-control"></InputText>
    </div>
    <div class="from-group">
        <label for="quantidade">Quantidade</label>
        <InputNumber id="quantidade" @bind-Value="Item.Quantidade" class="form-control"></InputNumber>
    </div>
    <div class="from-group">
        <label for="preco">Preço</label>
        <InputNumber id="preco" @bind-Value="Item.Preco" class="form-control"></InputNumber>
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Salvar</button>
    <a href="/inventario" class="btn btn-secondary">Voltar</a>
</EditForm>

@code {
    [SupplyParameterFromForm]
    private Inventario Item { get; set; } = new();

    private async Task Salvar()
    {
        await Adicionar.ExecutarAsync(Item);
        Navegar.NavigateTo("/inventario");
    }
}
