@page "/inventario"

<PageTitle>Inventário</PageTitle>

<br/>
<FiltrarComponent OnBuscarFiltro="HandleBuscarFiltro"></FiltrarComponent>

<br/>
<ListarInventarioComponent BuscarFiltro="@BuscarFiltro"></ListarInventarioComponent>

<br/>
<a href="/adicionaritem" class="btn btn-primary">Adicionar Item</a> 

@code{

    private string? BuscarFiltro { get; set; }

    private void HandleBuscarFiltro(string filtro)
    {
        BuscarFiltro = filtro;
    }
}