@page "/adicionarproduto"

@rendermode InteractiveServer

@inject NavigationManager Navegar
@inject IAdicionarProduto Adicionar

<h3>Adicionar Produto</h3>
<br />

<EditForm Model="Produto" OnValidSubmit="Salvar">
    <DataAnnotationsValidator></DataAnnotationsValidator>
    <ValidationSummary></ValidationSummary>
    <div class="from-group">
        <label for="nome">Nome</label>
        <InputText id="nome" @bind-Value="Produto.Nome" class="form-control"></InputText>
    </div>
    <div class="from-group">
        <label for="quantidade">Quantidade</label>
        <InputNumber id="quantidade" @bind-Value="Produto.Quantidade" class="form-control"></InputNumber>
    </div>
    <div class="from-group">
        <label for="preco">Preço</label>
        <InputNumber id="preco" @bind-Value="Produto.Preco" class="form-control"></InputNumber>
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Salvar</button>
    <a href="/produtos" class="btn btn-secondary">Voltar</a>
</EditForm>

@code {

    private Produto Produto { get; set; } = new();

    private async Task Salvar()
    {
        await Adicionar.ExecutarAsync(Produto);
        Navegar.NavigateTo("/produtos");
    }
}
