@page "/produtos"

<PageTitle>Produtos</PageTitle>

<br/>
<FiltrarComponent OnBuscarFiltro="HandleBuscarFiltro"></FiltrarComponent>

<br/>
<ListarProdutoComponent BuscarFiltro="@BuscarFiltro"></ListarProdutoComponent>

<br/>
<a href="/adicionarproduto" class="btn btn-primary">Adicionar Produto</a> 

@code{

    private string? BuscarFiltro { get; set; }

    private void HandleBuscarFiltro(string filtro)
    {
        BuscarFiltro = filtro;
    }
}