@inject NavigationManager Navegar
@inject IExcluirProduto Excluir

@if (Produto != null)
{
    <tr>
        <td>@Produto.Nome</td>
        <td>@Produto.Quantidade</td>
        <td>@Produto.Preco.ToString("N2")</td>
        <td class="text-end">
            <div class="d-flex justify-content-end gap-2">
                <a class="btn btn-secondary"
                   href="/editarproduto/@Produto.Id">
                    Editar
                </a>
                <button type="button"
                        class="btn btn-danger"
                        @onclick="async () => { await ExcluirProduto(Produto.Id); }">
                    Excluir
                </button>
            </div>
        </td>
    </tr>
}

@code {

    [Parameter]
    public Produto? Produto { get; set; }

    public async Task ExcluirProduto(int id)
    {
        await Excluir.ExecutarAsync(id);
        this.Produto = null;
    }
}
