@inject IBuscarProdutoPorNome Buscar

<table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Quantidade</th>
            <th>Preço</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Produto is not null && Produto.Count > 0)
        {
            foreach (var produto in Produto)
            {
                <ListarProdutoDetalheComponent @rendermode = "InteractiveServer" Produto="produto"></ListarProdutoDetalheComponent>
            }
        }
    </tbody>
</table>

@code {

    private List<Produto>? Produto;

    [Parameter]
    public string? BuscarFiltro { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        Produto = (await Buscar.ExecutarAsync(BuscarFiltro ?? string.Empty)).ToList();
    }
}