@inject NavigationManager Navegar
@inject IExcluirItem Excluir

@if (Item != null)
{
    <tr>
        <td>@Item.Nome</td>
        <td>@Item.Quantidade</td>
        <td>@Item.Preco.ToString("N2")</td>
        <td class="text-end">
            <div class="d-flex justify-content-end gap-2">
                <a class="btn btn-secondary"
                   href="/editaritem/@Item.Id">
                    Editar
                </a>
                <EditForm Enhance="true" Model="Item"
                          FormName="@($"formExcluir-{Item.Id}")"
                          OnValidSubmit="() => ExcluirItem(Item.Id)">
                    <button type="submit" class="btn btn-danger">Excluir</button>
                </EditForm>
            </div>
        </td>
    </tr>
}

@code {

    [Parameter]
    public Inventario? Item { get; set; }

    private async Task ExcluirItem(int id)
    {
        await Excluir.ExecutarAsync(id);
        Navegar.Refresh();
    }
}
