@inject IBuscarItemPorNome Buscar

<table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Quantidade</th>
            <th>Preço</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Inventario is not null && Inventario.Count > 0)
        {
            foreach (var item in Inventario)
            {
                <ListarInventarioDetalheComponent Item="item"></ListarInventarioDetalheComponent>
            }
        }
    </tbody>
</table>

@code {

    private List<Inventario>? Inventario;

    [Parameter]
    public string? BuscarFiltro { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        Inventario = (await Buscar.ExecutarAsync(BuscarFiltro ?? string.Empty)).ToList();
    }
}